# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Django
# ======================
*.log
media/
staticfiles/

# ======================
# Database
# ======================
# PostgreSQL is external -> no local db files
# (SQLite not used)
db.sqlite3

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
